# Ignore Everything
/*

# Except:
## Sources
!/bin
!/src

## Git
!/.gitattributes
!/.gitignore
!/.gitmodules
!README*
!LICENSE*

## npm
!/.*rc.json
!/gulpfile*
!/package*
!/yarn*

# Unwanted crap
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~
